@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn-primary {
    @apply  bg-galliano text-black hover:bg-galliano-300
  }
  .btn-secondary {
    @apply flex items-center justify-center border bg-white border-black hover:border-white hover:text-white hover:bg-black hover:transition-all hover:duration-1000
  }
}